@model object
@{
  ViewBag.Title = "DisplayForModel";
  ViewBag.SubTitle = $"for {Model.GetType().ToString()}";
}
@section Heading { @ViewBag.Title }
@section SubHeading { @ViewBag.SubTitle }
@Html.DisplayForModel()

<div>
  @Html.ActionLink("JSON", "JsonPrint", new { id = ViewBag.ID }, new { @class = "btn btn-default" })
  @Html.ActionLink("To Index", "Index", null, new { @class = "btn btn-link" })
</div>